In [1]:
import numpy as py
import pandas as pd

In [2]:
countryIndex = ['USA', 'Canada', 'Mexico']
years = [1776, 1867, 1821]

In [3]:
countrySeries = pd.Series(index = countryIndex, data = years)

In [4]:
countrySeries

USA       1776
Canada    1867
Mexico    1821
dtype: int64

Converting dictionary into series

In [5]:
Steve = {
    "FirstName" : "Steve",
    "LastName" : "Feng",
    "Age" : 27,
    "Hobby" : "Programming in Java"
}

In [6]:
steveSeries = pd.Series(Steve)

In [7]:
steveSeries

FirstName                  Steve
LastName                    Feng
Age                           27
Hobby        Programming in Java
dtype: object

In [8]:
type(steveSeries)

pandas.core.series.Series

In [9]:
steveSeries.dtype

dtype('O')

In [10]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [11]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [12]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [13]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [15]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64