In [1]:
import pandas as pd;

In [2]:
excel_df = pd.read_excel("my_excel_file.xlsx", sheet_name="First_Sheet")

In [3]:
excel_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
excel_sheets = pd.read_excel("my_excel_file.xlsx", sheet_name=None)

In [5]:
excel_sheets

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [6]:
excel_sheets.get('First_Sheet')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15